<%- include('../partials/header.ejs') %>



  
  <section class="featured">
    <div class="container">
      <h1 class="featuredh1">All products</h1>
      <div class="row justify-content-center">
        <% result.forEach((product) => { %>
        <div class="col-12 col-sm-10 col-md-6 col-lg-4">
          <div class="product">
            <div class="product-header">
              <img class="product-image" src="data:image/jpg;base64, <%= product.image %>">
              <p><%= product.owner %></p>
              <ul class="product-icons">
                <form action="/cart/products" class="d-flex" method="POST">
                  <input hidden value="<%= product._id %>" name="productId">
                <button type="submit" class="home-button"><span><i class='bx bxs-cart-alt' ></i></span></button>
              </form>
                
                <a href="/view/<%= product._id %>"><span><i class='bx bx-search' ></i></span></a>
              </ul>
            </div>
            <div class="product-footer">
              <p><%= product.name %></p>
              <p class="product-price">$<%= product.price %></p>
            </div>
          </div>  
        </div>
        <% }); %>
      </div>
    </div>
  </section>  


<%- include('../partials/footer.ejs') %>